:root {
  --primary-green: #45a049;
  --primary-brown: #3e2723;
  --secondary-brown: #523d39;
  --third-brown: #746461;
  --primary-white: white;
  --extra-detail-color: #4e5865;
  --nav-hight: 90px;
}

* {
  font-family: "DM Sans", sans-serif;
}

body {
  /* font-family: "DM Sans", sans-serif; */
  margin: 30px;
  padding-top: var(--nav-hight);
}

a {
  text-decoration: none;
  color: inherit;
}

/* Navigation bar */
.nav-bar {
  padding: 20px;
  padding-left: 0;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  color: var(--primary-brown);
  margin-bottom: 50px;
  position: fixed;
  background-color: var(--primary-white);
  z-index: 2;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  height: var(--nav-hight);
}

.store-logo {
  display: flex;
  gap: 3px;
}

.store-logo .store-name {
  margin-bottom: 0px;
  color: var(--primary-brown);
}

.store-logo img {
  width: 50px;
  height: 50px;
}

.nav-options {
  display: flex;
  gap: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.nav-options .option {
  font-weight: 600;
}

.active {
  border-bottom: 3px var(--primary-green) solid;
  color: var(--primary-green);
}

/* Hero */
.hero {
  background-image: url("../images/hero-image.jpg");
  height: 450px;
  background-size: cover;
  border-radius: 40px;
  position: relative;
  /* padding: 10px; */
  color: var(--primary-white);
  margin-bottom: 50px;
}

/* :: represent pseudo element, before means immediately before the element */
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 40px;
}

.hero-text {
  position: absolute;
  padding-top: 200px;
  font-weight: 600;
  margin-left: 10px;
}

.hero-title {
  font-size: 60px;
}

.hero-text a {
  padding: 11px;
  background-color: var(--primary-green);
  border-radius: 10px;
}

.hero-text a:hover {
  border: 1px solid var(--third-brown);
  cursor: pointer;
}

/* Featured Products section */
.best-sellers-section .title {
  font-size: 50px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  color: var(--primary-brown);
  font-weight: 600;
}

.best-sellers-section .items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 30px;
}

.best-sellers-section .items .item {
  box-sizing: content-box;
  margin-bottom: 20px;
  border-radius: 30px;
  background-color: #f5f1e8;
}

.best-sellers-section .items .item:hover {
  box-shadow: 5px 5px 12px 3px rgba(135, 127, 125, 0.72);
  -webkit-box-shadow: 5px 5px 12px 3px rgba(135, 127, 125, 0.72);
  -moz-box-shadow: 5px 5px 12px 3px rgba(135, 127, 125, 0.72);
}

.best-sellers-section .items .item .item-image {
  /* width: 300px; */
  height: 300px;
}

.item-image img {
  height: 100%;
  width: 100%;
  border-radius: 30px;
}

.second-section {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.food-name {
  color: var(--primary-brown);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.food-category {
  color: var(--extra-detail-color);
  margin-bottom: 5px;
}

.price {
  color: var(--primary-green);
  font-weight: bold;
  font-size: 25px;
}

.add-to-cart-btn {
  height: 40px;
  padding: 0 20px 0 20px;
  align-self: flex-end;
  border: 2px solid var(--primary-green);
  border-radius: 50px;
  font-family: inherit;
  font-weight: bold;
  color: var(--primary-green);
}

.add-to-cart-btn:hover {
  color: var(--primary-white);
  background-color: var(--primary-green);
}

/* Browse section */
.browse-section {
  background-color: rgba(220, 228, 223, 0.5);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.browse-section .section {
  padding: 150px;
}

/* .browse-section .section .content {
  margin: 0 auto;
} */

.browse-section .section .icon {
  background-color: var(--primary-white);
  padding: 20px;
  width: fit-content;
  border-radius: 50%;
  margin: 0 auto;
}

.browse-section .section .category {
  color: var(--secondary-brown);
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}

.browse-section .section .number-of-items {
  color: var(--extra-detail-color);
  text-align: center;
  margin: 15px 0 15px 0;
}

.browse-section .section .link-to-shop {
  text-align: center;
}

.browse-section .section .link-to-shop {
  color: var(--primary-green);
}

.browse-section .section .link-to-shop img {
  margin-top: 15px;
}

/* Footer */
footer {
  background-color: var(--primary-brown);
  padding: 40px;
  border-radius: 30px;
}

.footer-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.footer-heading {
  color: var(--primary-white);
  display: flex;
}

.footer-heading img {
  width: 40px;
  height: 30px;
  margin-top: 20px;
}

.subscribe-form {
  margin-top: 20px;
}

.subscribe-form .email-box,
.subscribe-form .subscribe-btn {
  height: 50px;
  /* padding: 20px; */
  box-sizing: border-box;
  border-radius: 50px;
  font-weight: bold;
  font-size: 18px;
}

.subscribe-form .email-box {
  background-color: var(--secondary-brown);
  border: 1px solid var(--third-brown);
  padding-left: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.subscribe-form .subscribe-btn {
  padding: 0 30px 0 30px;
  background-color: var(--primary-green);
  border: 1px solid var(--primary-green);
  color: var(--primary-white);
}

.footer-body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.footer-body h3 {
  margin-bottom: 2px;
  color: var(--primary-white);
}

.footer-body .info-section .item a {
  color: var(--third-brown);
}

.footer-body .info-section .item a:hover {
  color: var(--primary-white);
}

.footer-body .info-section .item {
  margin-bottom: 10px;
}

.dev-info {
  color: var(--third-brown);
  margin-top: 30px;
  display: flex;
  justify-content: center;
  font-size: 10px;
}

@media (max-width: 800px) {
  /* Hero */
  .hero-title {
    font-size: 50px;
  }

  /* Footer */
  footer {
    margin: 10px;
  }

  .footer-header {
    display: block;
  }
}

@media (max-width: 400px) {
  body {
    margin: 10px;
  }

  /* Hero */
  .hero-title {
    font-size: 44px;
  }

  /* Footer */
  .footer-body {
    display: block;
  }

  .footer-body .info-section {
    margin-bottom: 20px;
  }
}
