:root {
  --primary-green: #45a049;
  --primary-brown: #3e2723;
  --secondary-brown: #523d39;
  --third-brown: #746461;
  --primary-white: white;
}

body {
  font-family: Inter, sans-serif;
  margin: 30px;
}

/* Navigation bar */
.nav-bar {
  padding: 20px;
  padding-left: 0;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  color: var(--primary-brown);
  margin-bottom: 50px;
  position: sticky;
}

.store-logo {
  display: flex;
  gap: 3px;
}

.store-logo .store-name {
  margin-bottom: 0px;
  color: var(--primary-brown);
}

.store-logo img {
  width: 50px;
  height: 50px;
}

.nav-options {
  display: flex;
  gap: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.nav-options .option {
  font-weight: 600;
}

.active {
  border-bottom: 3px var(--primary-green) solid;
  color: var(--primary-green);
}

/* Hero */
.hero {
  background-image: url("../images/hero-image.jpg");
  height: 450px;
  background-size: cover;
  border-radius: 40px;
  position: relative;
  /* padding: 10px; */
  color: var(--primary-white);
  margin-bottom: 50px;
}

/* :: represent pseudo element, before means immediately before the element */
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 40px;
}

.hero-text {
  position: absolute;
  padding-top: 200px;
  font-weight: 600;
  margin-left: 10px;
}

.hero-title {
  font-size: 60px;
}

.hero-text a {
  text-decoration: none;
  color: inherit;
  padding: 11px;
  background-color: var(--primary-green);
  border-radius: 10px;
}

.hero-text a:hover {
  border: 1px solid var(--third-brown);
  cursor: pointer;
}

/* Footer */
footer {
  background-color: var(--primary-brown);
  padding: 40px;
  border-radius: 30px;
}

.footer-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.footer-heading {
  color: var(--primary-white);
  display: flex;
}

.footer-heading img {
  width: 40px;
  height: 30px;
  margin-top: 20px;
}

.subscribe-form {
  margin-top: 20px;
}

.subscribe-form .email-box,
.subscribe-form .subscribe-btn {
  height: 50px;
  /* padding: 20px; */
  box-sizing: border-box;
  border-radius: 50px;
  font-weight: bold;
  font-size: 18px;
}

.subscribe-form .email-box {
  background-color: var(--secondary-brown);
  border: 1px solid var(--third-brown);
  padding-left: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.subscribe-form .subscribe-btn {
  padding: 0 30px 0 30px;
  background-color: var(--primary-green);
  border: 1px solid var(--primary-green);
  color: var(--primary-white);
}

.footer-body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.footer-body h3 {
  margin-bottom: 2px;
  color: var(--primary-white);
}

.footer-body .info-section .item a {
  text-decoration: none;
  color: var(--third-brown);
}

.footer-body .info-section .item a:hover {
  color: var(--primary-white);
}

.footer-body .info-section .item {
  margin-bottom: 10px;
}

.dev-info {
  color: var(--third-brown);
  margin-top: 30px;
  display: flex;
  justify-content: center;
  font-size: 10px;
}

.dev-info a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 800px) {
  /* Footer */
  footer {
    margin: 10px;
  }

  .footer-header {
    display: block;
  }
}

@media (max-width: 400px) {
  body {
    margin: 10px;
  }

  /* Hero */
  .hero-title {
    font-size: 44px;
  }

  /* Footer */
  .footer-body {
    display: block;
  }

  .footer-body .info-section {
    margin-bottom: 20px;
  }
}
