h2,
h3 {
  color: var(--primary-brown);
}

/* Empty cart */
.empty-cart .image {
  margin: 0 auto;
  height: 400px;
  width: 400px;
}

.image img {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.empty-cart h1,
.empty-cart p {
  text-align: center;
  padding-top: 0;
  margin-top: 0;
}

.browse-products-btn {
  border: 1px solid var(--primary-green);
  padding: 15px 20px;
  width: fit-content;
  background-color: var(--primary-green);
  color: var(--primary-white);
  font-weight: bold;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
}

/* Cart */
.item-image {
  height: 100px;
  width: 100px;
}

.item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-card {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-top: 20px;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 5px;
}

.left-group {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
}

.buttons {
  display: flex;
  gap: 15px;
  padding-top: 30px;
}

.buttons button {
  height: fit-content;
  font-size: 20px;
  padding: 5px 7px;
  border: 1px solid;
  border-radius: 15px;
  border-color: rgb(0, 0, 0, 0.4);
}

.buttons .no-of-items {
  padding-top: 10px;
}

.buttons img {
  padding-top: 6px;
}

.item-info {
  margin-top: 14px;
}

/* Order Summary */
.order-summary {
  margin-top: 20px;
  background-color: #f5f1e8;
  padding: 20px;
}

/* .order-summary h2,
.order-summary h3 {
  color: var(--primary-brown);
} */

.order-summary h3 {
  border-top: 1px solid var(--extra-detail-color);
  padding-top: 20px;
}

.invoice-summary {
  display: flex;
  justify-content: space-between;
}

.headings,
.amounts {
  color: var(--extra-detail-color);
}

/* Delivery details form */
.form-component {
  display: block;
  width: 90%;
  margin-bottom: 10px;
  height: 40px;
  font-size: 15px;
  border: 1px solid rgb(0, 0, 0, 0.2);
  padding-left: 10px;
  border-radius: 5px;
}

.place-order-btn {
  height: 45px;
  width: 92%;
  background-color: var(--primary-green);
  border-color: var(--primary-green);
  font-size: 15px;
  font-weight: bold;
  color: var(--primary-white);
  border-radius: 20px;
}

/* footer */
footer {
  margin-top: 70px;
}

.footer-heading h2 {
  color: var(--primary-white);
}

@media (min-width: 1366px) {
  .cart {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
  }
}
