:root {
  --primary-green: #45a049;
  --primary-brown: #3e2723;
  --secondary-brown: #523d39;
  --third-brown: #746461;
  --primary-white: white;
  --extra-detail-color: #4e5865;
  --nav-hight: 90px;
}

/* Header section */
/* .header h1 {
  color: var(--secondary-brown);
  padding-bottom: 0px;
  margin-bottom: 0px;
} */

/* .header p {
  color: var(--extra-detail-color);
} */

.filter {
  padding: 15px;
  border-radius: 7px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 50px;
}

.filter-item,
select {
  padding: 14px 20px;
  border: 1px solid rgb(0, 0, 0, 0.3);
  width: fit-content;
  border-radius: 23px;
  margin-bottom: 5px;
  color: var(--secondary-brown);
}

select {
  font-size: 16px;
}

.filter-item:hover {
  border: 2px solid var(--primary-green);
}

.filter .active {
  background-color: var(--primary-green);
  color: var(--primary-white);
  font-weight: bold;
  border-color: var(--primary-green);
}

/* Products section */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.product {
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.product-image {
  height: 200px;
  width: 300px;
  margin-bottom: 20px;
}

.product-image img {
  width: 100%;
  height: 100%;
}

.product .row {
  display: flex;
  justify-content: space-between;
}

.product-availability {
  font-size: 13px;
  margin-top: 11px;
  color: var(--extra-detail-color);
}

.add-to-cart-btn {
  width: 300px;
  border-radius: 10px;
  margin-top: 10px;
}

/* Footer */
footer {
  margin-top: 70px;
}
